@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap"); /* Обнуление стилей */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

body {
  color: #533738;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  background: #EFE6E4;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}
[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 97px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1230.98px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}
.header__logo {
  position: relative;
  margin: 0px 89px 0px 0px;
  padding: 2.5px 0px 2.5px 25px;
  text-transform: uppercase;
}
.header__logo::before {
  content: "";
  background: url(../img/header/logo.svg);
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
}
.header__menu {
  padding: 2.5px 0px;
  margin: 0px 34px 0px 0px;
}
.header__address {
  font-style: normal;
  padding: 2.5px 0px 2.5px 18px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1230.98px) {
  .header__address {
    padding: 2.5px 25px 2.5px 0px;
  }
}
.header__address:hover {
  text-decoration: underline;
  color: #25191a;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}
.menu__item:not(:last-child) {
  margin: 0px 26px 0px 0px;
}
.menu__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link:hover {
  text-decoration: underline;
  color: #25191a;
}

.page__block-main {
  position: relative;
}

.main-block__container {
  max-width: 1066px;
}
.main-block__body {
  position: relative;
  z-index: 2;
  padding: 152px 0px 168px 0px;
}
.main-block__title {
  max-width: 534px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.24;
}
.main-block__title:not(:last-child) {
  margin: 0px 0px 24px 0px;
}
.main-block__text {
  max-width: 415px;
  font-weight: 400;
  line-height: 1.67;
}
.main-block__text:not(:last-child) {
  margin: 0px 0px 21px 0px;
}
.main-block__image-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 74px;
  padding: 25px 68px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  background: #CC8B86;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background: #644847;
  color: #fff;
}

.about-us {
  padding: 65px 0px 21px 0px;
}
.about-us__container {
  max-width: 1066px;
}
.about-us__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}
.about-us__title:not(:last-child) {
  margin: 0px 0px 40px 0px;
}
.about-us__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 63px;
     -moz-column-gap: 63px;
          column-gap: 63px;
}
.about-us__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43%;
          flex: 0 0 43%;
  padding: 0px 0px 44.88% 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about-us__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}
.about-us__one {
  margin-bottom: 46px;
}