@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap");

// основной шрифт и размер //

$fontFamily: "Montserrat";
$fontWeight: 500;
$fontSize: 18px;
$mainColor: #533738;

@import "_null";

//=================== Общие стили  ================================//

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

[class*="__container"] {
  max-width: 1230px; // сначала контейнер был 1200 как на макете, стал 1066 изза padding 30px
  margin: 0px auto;
  padding: 0px 15px;
  @media (max-width: 1087px) {
    // max-width: 970px;
  }
  @media (max-width: 991.98px) {
    // max-width: 750px;
  }
  @media (max-width: 767.98px) {
    // max-width: none;
  }
}

[class*="-ibg"] {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

//=================== Общие стили  ================================//

//=================== header  ================================//

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  // .header__container

  &__container {
    display: flex;
    min-height: 97px;
    align-items: center;
    @media (max-width: 1230.98px) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  // .header__logo

  &__logo {
    position: relative;
    margin: 0px 89px 0px 0px;
    padding: 2.5px 0px 2.5px 25px;
    text-transform: uppercase;
    &::before {
      content: "";
      background: url(../img/header/logo.svg);
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
    }
  }

  // .header__menu

  &__menu {
    padding: 2.5px 0px;
    margin: 0px 34px 0px 0px;
  }

  // .header__address

  &__address {    
    font-style: normal;
    padding: 2.5px 0px 2.5px 18px;
    transition: all 0.3s ease 0s;
    @media (max-width: 1230.98px) {
      padding: 2.5px 25px 2.5px 0px;
    }
    &:hover {
      text-decoration: underline;
      color: #25191a;
    }
  }
}
.menu {

  // .menu__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  // .menu__item

  &__item {
    &:not(:last-child) {
      margin: 0px 26px 0px 0px;
    }
  }

  // .menu__link

  &__link {
    transition: all 0.3s ease 0s;
    &:hover {
      text-decoration: underline;
      color: #25191a;
    }
    
  }
}

//=================== header  ================================//

//=================== main-block  ================================//

.page {

  // .page__block-main

  &__block-main {
    position: relative;
  }
}
.main-block {

  // .main-block__container

  &__container {
    max-width: 1066px;
  }

  // .main-block__body

  &__body {
    position: relative;
    z-index: 2;
    padding: 152px 0px 168px 0px;
  }

  // .main-block__title

  &__title {
    max-width: 534px;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.24;
    &:not(:last-child) {
      margin: 0px 0px 24px 0px;
    }
  }

  // .main-block__text

  &__text {
    max-width: 415px;
    font-weight: 400;
    line-height: 1.67;    
    &:not(:last-child) {
      margin: 0px 0px 21px 0px;
    }
  }

  // .main-block__buttons

  &__buttons {
  }

  // .main-block__button

  &__button {
  }

  // .main-block__image-ibg

  &__image-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 74px;
  padding: 25px 68px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  background: #CC8B86;
  transition: all 0.3s ease 0s;
  &:hover {
    background: #644847;
    color: #fff;
  }
}

//=================== main-block  ================================//

//=================== about-us  ================================//

.page {

  // .page__about-us

  &__about-us {
  }
}
.about-us {
  padding: 65px 0px 21px 0px;

  // .about-us__container

  &__container {
    max-width: 1066px;
  }

  // .about-us__title

  &__title {
    &:not(:last-child) {
      margin: 0px 0px 40px 0px;
    }
    font-weight: 400;
    font-size: 40px;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
  }

  // .about-us__body

  &__body {
    display: flex;
    column-gap: 63px;
  }

  // .about-us__image-ibg

  &__image-ibg {
    flex: 0 0 43%;
    padding: 0px 0px 44.88% 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  // .about-us__text

  &__text {
    flex: 1 1 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
  }

  // .about-us__one

  &__one {
    margin-bottom: 46px;
  }

  // .about-us__two

  &__two {
  }
}


//=================== about-us  ================================//
